<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="titlebartext" value="BlackBerry Enterprise Services 12.2.1 Setup Monitor"/>
    <add key="primarytext" value="BlackBerry Enterprise Service 12.2.1 is currently installing. When completed, your system will restart, and you will need to re-establish your remote session."/>
    <add key="secondarytext" value="Please be patient. This installer may take as long as 30 minutes to complete."/>
    <add key="oeminfolinks" value="http://www.blackberry.com"/>
  </appSettings>
</configuration>
